/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body{
  background-color: #808080;
  text-align: center;
  font-family: 'Arvo';
  background-image: url(http://s3images.coroflot.com/user_files/individual_files/original_669908_0g4u8nv7hmht6npeun0dymzmo.jpg);
  text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.jumbotron{
  background-color: #404040;
  background-image: url(http://s3images.coroflot.com/user_files/individual_files/original_669908_0g4u8nv7hmht6npeun0dymzmo.jpg);
  background-size: cover;
  background-attachment: fixed;
  opacity: .9;
  margin-bottom: 0px;
}

.page-header{
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  border-bottom: none;
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.sub-header{
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#map{
  margin-left: auto;
  margin-right: auto;
}
p{
  color: white;
  font-size: 12px;
}
.box-header{
  padding-top: 5px;
  color: white;
  font-size: 24px;
}
.options-bar{
  min-height: 50px;
  background-color: #404040;
  background: rgba(128,128,128,.6);
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
  drop-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.correlations{
  min-height: 200px;
  border-radius: 5px;
}
input[type=text] {
    padding:5px 15px;
    border-radius: 5px;
    width: 100%;
}
.bootstrap_form{
  color:black;
}
.label{
  color:white;
  font-weight:200;
  font-size: 18px;
}
input[type=submit]{
  border-radius: 5px;
}
textarea{
  padding:5px 15px;
  border-radius: 5px;
  width: 100%;
}
footer{
  min-height: 50px;
}
