%h2
  Report a Finding
%div{:style => "width: 800px;"}
%form{ :action => "", :method => "post"}
  %fieldset
    %ul
      %ol
        %label{:for => "first"} First Name:
        %br
        %input{:type => "text", :name => "name", :class => "text"}
      %br
      %ol
        %label{:for => "last"} Last Name:
        %br
        %input{:type => "text", :name => "mail", :class => "text"}
      %br
      %ol
        %label{:for => "mail"} Email:
        %br
        %input{:type => "text", :name => "mail", :class => "text"}
      %br
      %ol
        %select
          %option{:value => "Type"} Report Type
          %option{:value => "Event"} Report an Event
          %option{:value => "Lab"} Report a Lab
          %option{:value => "Activity"} Suspicious Activity
          %option{:value => "Incident"} Incident
      %br
      %ol
        %label{:for => "last"} Address of Report:
        %br
        %input{:type => "text", :name => "mail", :class => "text"}
      %br
      %ol
        %label{:for => "body"} Details:
        %br
        %textarea{:name => "body"}

      %ol
        %br
        %input{:type => "submit", :value => "Submit", :class => "button"}
