.jumbotron
  .page-header
    The Meth Mapper

  %h3.sub-header
    Using Indiana Data to track and help end Meth use

%div{:style => "width: auto;"}
  #map{:style => "width: auto; height: 400px;"}
  :javascript
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(#{raw @hash.to_json});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
.container
  .options-bar
%br/
.h1.sub-header
  Information from Data
.correlations.container
    %select{:name => "post[author_id]"}
      - @mapevents.order(:city).map(&:city).uniq.each do |event|
        %option{:value => event}= event

  .row
    .col-xs-4
      .options-bar.correlations
        .box-header
          College Towns
        %p This is the information for you!
    .col-xs-4
      .options-bar.correlations
        .box-header
          Rural Areas
        %p This is the information for you!
    .col-xs-4
      .options-bar.correlations
        .box-header
          Cities
        %p This is the information for you!
= render partial: "report_form"
